/* General body styling */
body {
  font-family: 'Georgia', serif; /* Alternatively, 'Roboto', sans-serif */
  font-size: 18px; /* Keep the increased font size */
  margin: 0;
  padding: 0;
  line-height: 1.75;
  color: #333;
}

/* Navigation bar styling */
nav {
  background-color: #333;
  padding: 10px 0; /* Reduced padding to make the navbar more compact */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Header Section */
header {
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px 0; /* Reduced padding to decrease the vertical space */
}

h1 {
  font-size: 36px;
  margin-top: 10px; /* Reduce space above the title */
}

h2 {
  font-size: 28px;
}

/* Section padding and margins */
section {
  padding: 20px 40px; /* Reduced vertical padding */
  font-size: 18px;
  margin-bottom: 50px;
}

#about p, #publications p {
  margin-bottom: 20px;
}

/* Footer styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

body {
  margin-bottom: 100px;
}

/* Make the website responsive for mobile and smaller screens */
@media (max-width: 768px) {
  /* Make navigation menu vertical */
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* Adjust body font size for mobile */
  body {
    font-size: 16px;
    padding: 0 10px;
  }

  /* Adjust header and section padding for mobile */
  header {
    padding: 15px 0; /* Reduce padding for smaller screens */
  }

  h1 {
    font-size: 30px; /* Reduce heading size for smaller screens */
  }

  h2 {
    font-size: 24px;
  }

  section {
    padding: 15px; /* Reduce padding for mobile */
  }

  /* Ensure images scale properly on smaller screens */
  img {
    max-width: 100%;
    height: auto;
  }
}
